button{
  font-family: 'Karla', sans-serif!important;
  font-weight: 700!important;
  letter-spacing: 0.01em!important;
  font-size: var(--font-size-lg)!important;
}

.btn--fab{
  position: fixed!important;
  bottom: 30px;
  right: 20px;
  z-index: 9999;
}

.btn-link--accent {
  --mat-button-text-label-text-color: var(--color-accent);
}

.btn-link--black {
  --mat-button-text-label-text-color: black;
}

.btn-link--secondary-text {
  --mat-button-text-label-text-color: var(--color-secondary-text);
  font-weight: 100!important;
}

.btn-fab--accent {
  --mat-fab-container-color: var(--color-accent);
  --mat-fab-foreground-color: #fff;
  --mat-fab-container-shape: 50%;
}

.btn-fab--empty {
  --mat-fab-container-color: white;
  --mat-fab-foreground-color: black;
  --mat-fab-state-layer-color: var(--color-accent);
  --mat-fab-hover-state-layer-opacity: 0.8;
  --mat-fab-pressed-state-layer-opacity: 0.8;
  --mat-fab-focus-state-layer-opacity: 0.8;
}

.btn-back{
  --mat-fab-container-shape: 50%;
}

.btn-tonal--empty{
  --mat-button-tonal-container-color: transparent;
  --mat-button-tonal-label-text-color: var(--color-accent);
  width: 100%;
  --mat-button-tonal-container-height: 60px;
  .mat-mdc-button-persistent-ripple{
    border: 1px dashed var(--color-lines);
  }
}