  :root {
  --color-main-text: #2a2521;
  --color-secondary-text: #8a8073;
  --color-lines: #e8dfcd;
  --color-accent: #bf5333;
  --color-surface: #fffdf8;
  --color-background: #f6f0e4;

  --color-placeholder-1: #d8c9b0;
  --color-placeholder-2: #dcc4bb;
  --color-placeholder-3: #c9d3c0;
  --color-placeholder-4: #d9cdbe;
  --color-placeholder-5: #cdb9ac;
  --color-placeholder-6: #cdd0d8;
}

.placeholder-1{
  background-color: var(--color-placeholder-1);
}

.placeholder-2{
  background-color: var(--color-placeholder-2);
}

.placeholder-3{
  background-color: var(--color-placeholder-3);
}

.placeholder-4{
  background-color: var(--color-placeholder-4);
}

.placeholder-5{
  background-color: var(--color-placeholder-5);
}

.placeholder-6{
  background-color: var(--color-placeholder-6);
}