  :root {
  --color-main-text: #2a2521;
  --color-secondary-text: #8a8073;
  --color-lines: #e8dfcd;
  --color-accent: #bf5333;
  --color-surface: #fffdf8;
  --color-background: #f6f0e4;

  --color-placeholder-1: #d8c9b0;
  --color-placeholder-2: #dcc4bb;
  --color-placeholder-3: #c9d3c0;
  --color-placeholder-4: #d9cdbe;
  --color-placeholder-5: #cdb9ac;
  --color-placeholder-6: #cdd0d8;
}