@font-face {
  font-family: 'Karla';
  src: url('../css/fonts/Karla/static/Karla-Regular.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('../css/fonts/Karla/static/Karla-Medium.ttf') format('truetype');
  font-weight: 500; 
  font-style: normal; 
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('../css/fonts/Karla/static/Karla-SemiBold.ttf') format('truetype');
  font-weight: 600; 
  font-style: normal; 
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('../css/fonts/Karla/static/Karla-Bold.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal; 
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../css/fonts/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf') format('truetype');
  font-weight: 600; 
  font-style: normal; 
  font-display: swap;
}

:root {
  --font-family-playfair-display: 'Playfair Display', sans-serif;
  --font-family-karla: 'Karla', sans-serif;

  --font-size-base: 1.125rem; 
  --font-size-xs:   0.688rem;
  --font-size-sm:   0.719rem;
  --font-size-md:   0.75rem;
  --font-size-lg:   0.969rem;
  --font-size-xl:   1.375rem;
  --font-size-2xl:  2.125rem;
  --font-size-3xl:  2.625rem;

  h1{
    font-weight: 600;
    font-family: 'Playfair Display', Georgia, serif;
    font-size: var(--font-size-3xl);
    line-height: 1.0;
    letter-spacing: -0.01em;
  }

  h2{
    font-family: 'Playfair Display', Georgia, serif;
    font-weight: 600;
    font-size:  var(--font-size-2xl);
    line-height: 1.04;
    letter-spacing: -0.01em;
    margin: 10px 0;
  }

  h3{
    font-family: 'Playfair Display', Georgia, serif;
    font-weight: 600;
    font-size: var(--font-size-xl);
    line-height: 1.04;
    letter-spacing: -0.01em;
    margin: 10px 0;
  }

  .mb-1{
    margin-bottom: 10px;
  }

  .mb-2{
    margin-bottom: 20px;
  }
}