// INPUT MATERIAL
.mat-mdc-text-field-wrapper {
  background: transparent!important;
}
.mat-mdc-select-panel{
  background: var(--color-surface)!important;
}

.mdc-floating-label{
  color: var(--color-accent)!important;
}
  
.mdc-line-ripple::after,.mdc-line-ripple::before  {
  border-bottom-color: var(--color-accent)!important;
}

// MAT SELECT
mat-select{
  --mat-select-focused-arrow-color: var(--color-accent);
}

mat-option{
  --mat-option-label-text-color: var(--color-accent);
}

// INPUT BASIQUE
input[type=text].empty{
  border: none;
  font-family: var(--font-family-karla), system-ui, sans-serif;
  font-size: var(--font-size-lg);
  font-weight: 400;
  width: 100%;
}

input[type=text].empty--dashed{
  border: 1px dashed var(--color-lines);
}

input[type=text].empty:focus{
  outline: none;
}

// TEXTAREA BASIQUE
textarea.empty{
  border: none;
  font-family: var(--font-family-karla), system-ui, sans-serif;
  font-size: var(--font-size-lg);
  font-weight: 400;
  width: 100%;
}

textarea.empty--dashed{
  border: 1px dashed var(--color-lines);
}

textarea.empty:focus{
  outline: none;
}