 <div class="loading-content">
    <div class="loading-content__header mb-2">
        <div class="loading-content__icon">
            <mat-icon>menu_book</mat-icon>
        </div>

        <div class="loading-content__title">     
            <span class="title-main">My</span>
            <span class="title-accent">Recipes</span>
        </div>
    </div>

    <div class="loading-content__text">
        <div>Chargement en cours</div>
        <span class="loading-content__dots">{{dots()}}</span>
    </div>
</div>