@if(isEditable()){
    <div class="recipe-picture-editable">
        @if(recipeRequest().picture){
            <div class="recipe-picture text-center" (click)="onClickPicture()">
                <img [src]="getSrcPicture()"/>
            </div>   
        }@else{
            <div class="recipe-picture-placeholder" (click)="onClickPicture()"> 
                <div class="recipe-picture-placeholder-text">
                    <mat-icon class="mb-1">photo</mat-icon>
                    <div>Ajouter une photo</div>
                </div>
            </div>
        }
    </div>
}@else {
    <div class="recipe-picture-no-editable">
        <div class="recipe-picture"> <img [src]="getSrcPicture()"/></div>
    </div>
}

<form #form [class.no-editable]="!isEditable()" [formGroup]="formGroup" novalidate>  
    <div class="content-padding">
        <div class="kicker mb-1">
            {{ recipeRequest().type.name }}
        </div>

        @if (isEditable()) {
            <div>
                <mat-form-field>
                    <mat-label>Type de la recette</mat-label>

                    <mat-select formControlName="typeID">
                        @for (item of recipeTypes(); track item.id) {
                            <mat-option value="{{ item.id }}">{{ item.name }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                @if (formGroup.controls['typeID'].invalid && (formGroup.controls['typeID'].dirty || formGroup.controls['typeID'].touched)) {
                    <div class="alert-danger">Le type est requis !</div>
                }
            </div>
        }

        <div class="mb-1">
            <h2>{{ recipeRequest().title }}</h2>

            @if (isEditable()) {
                <mat-form-field class="example-full-width">
                    <mat-label>Titre de la recette</mat-label>

                    <input matInput formControlName="title" placeholder="Pâtes au pesto" />
                </mat-form-field>

                @if (formGroup.controls['title'].invalid && (formGroup.controls['title'].dirty || formGroup.controls['title'].touched)) 
                {
                    <div class="alert-danger">Le titre est requis !</div>
                }
            }
        </div>

        <hr />

        <div class="mb-2">
            <div class="recipe-ingredients" formArrayName="ingredients">
                @for (ingredient of ingredients.controls; track ingredient; let i = $index) {
                    <div class="chips" [formGroupName]="i">
                        @if (isEditable()) {
                            <input type="text" class="empty" formControlName="ingredient" />

                            <mat-icon (click)="removeIngredient(i)">close</mat-icon>
                        } @else {
                            {{ ingredient.value.ingredient }}
                        }  
                    </div>
                }
            </div>

            @if (isEditable()) {
                <div class="mt-1 mb-2">
                    <div class="chips d-inline-block ">
                        <input class="empty" type="text" formControlName="newIngredient" placeholder="Oeuf" />
                    </div>

                    @if (formGroup.controls['newIngredient'].invalid && (formGroup.controls['newIngredient'].dirty || formGroup.controls['newIngredient'].touched)) {
                        <div class="alert-danger">Un ingredient est requis !</div>
                    }

                    <button matButton="tonal" class="btn-tonal--empty mt-2" (click)="addIngredient()">
                        <mat-icon>add</mat-icon>
                        Ajouter un ingrédient
                    </button>
                </div>         
            }
        </div>

        <div class="recipe-steps" formArrayName="steps">
            <div>
                @for (step of steps.controls; track step; let i = $index;) {
                    <div class="recipe-step mb-2" [formGroupName]="i">

                        <div class="kicker">
                            {{ i + 1 | number: '2.0-0' }}
                        </div>

                        <div class="step-content-wrapper">
                            <div class="kicker kicker--main-text mb-1">
                                @if (isEditable()) {                              
                                    <input
                                        formControlName="stepTitle"
                                        class="empty empty--dashed"
                                        type="text"
                                        placeholder="Préparer les oeufs"
                                    />
                                } @else {
                                    {{ step.value.stepTitle}}
                                }
                            </div>

                            <div class="step-content">
                                @if (isEditable()) {
                                    <textarea class="empty empty--dashed" rows="3" placeholder="Casser et cuire les oeufs" formControlName="stepContent"></textarea>
                                } @else {
                                    {{ step.value.stepContent }}
                                }
                            </div>
                        </div>

                        <div>
                            @if (isEditable()) {  
                                <mat-icon class="delete-icon" (click)="removeStep(i)">close</mat-icon>
                            }
                        </div>
                    </div>
                }

                @if (isEditable()) {  
                    <button matButton="tonal" class="btn-tonal--empty" (click)="addStep()">
                        <mat-icon>add</mat-icon>
                        Ajouter une étape
                    </button>
                }          
            </div>
        </div>
    </div>
</form>

