
 .recipe-ingredients{
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

.recipe-step{
    display: flex;
    gap: 20px;
    align-items: baseline;

    .delete-icon{
        position: absolute;
        right: 20px; 
        font-size: var(--font-size-base);
        width: max-content;
    }

    .step-content-wrapper{
         flex: 1 1 auto;

        .step-content{
            font-family: 'Karla', sans-serif;
            font-weight: 400;
            font-size: var(--font-size-lg);
            line-height: 1.62;
            opacity: 0.82;
        }
    }
}
