// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

@import "../public/css/fonts.scss";
@import "../public/css/colors.scss";
@import "../public/css/buttons.scss";
@import "../public/css/form.scss";
@import "ngx-toastr/toastr";

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;
  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--color-surface);

  color: var(--mat-sys-on-surface);
  font-family: var(--font-family-karla), system-ui, sans-serif;
  font-size: var(--font-size-base);
  font-weight: 400;
  margin: 0;
  height: 100%;
}

.app-version{
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: var(--font-size-xs); 
  color: var(--color-accent);
}

// ESPACEMENTS
.content-padding{
  padding: 20px 20px;
}

.mb-1{
  margin-bottom: 10px;
}

.mb-2{
  margin-bottom: 20px;
}

.mb-3{
  margin-bottom: 30px;
}

.mt-1{
  margin-top: 10px;
}

.mt-2{
  margin-top: 20px;
}

.mt-3{
  margin-top: 30px;
}

// TEXTES
.kicker{
  text-transform: uppercase;
  color: var(--color-accent);
  font-size: var(--font-size-md);
  font-weight: 700;
  letter-spacing: 0.20em;
}

.kicker--main-text{
  color: var(--color-main-text);
}

.meta{
  font-weight: 400;
  font-size: var(--font-size-xs);
  color: var(--color-secondary-text);
}

.alert-danger{
  font-size: var(--font-size-sm);
  color: red;
  margin: 10px 0;
}

.text-center{
  text-align: center;
}

// SPINNER
.spinner--app{
  display: flex;
  justify-content: center;
  width: 100%!important;
  height: 100%!important;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
}

.spinner {
  --mat-progress-spinner-active-indicator-color: var(--color-accent);
}

//CHIPS
.chips{
  border-radius: 30px;
  padding: 5px 10px;
  border: 1px solid var(--color-lines);
  font-size: var(--font-size-lg);
  background-color: white;
  display: flex;
  align-items: center;
  width: max-content;

  mat-icon{
    font-size: var(--font-size-base);
    margin-left: 10px;
    width: max-content;
  }
}

// HR
hr{
  margin: 20px 0 20px 0;
  width: 40px;
  border: 1px solid var( --color-accent);
}  

// DISPLAY
.d-inline-block{
  display: inline-block;
}
